{% extends 'client/base.html.twig' %}

{% block title %}{{ film.title }}{% endblock %}

{% block body %}
    {% if film.image is defined %}
        <img class="filmPageBackgroundImage" src="{{ vich_uploader_asset(film.image) }}"
             alt="{{ film.image.imageName }}">

    {% endif %}
    <div class="filmPageBackgroundLeft">
        <a href="{{ path('app_home') }}" class="mb-5"><i class="bi bi-arrow-left me-2"></i>Retour</a>
        <h1 class="mb-5">{{ film.title }}</h1>
        <p>
            {{ film.description }}
        </p>
        <span>
  Durée :  {{ film.duration|date('H:i') }}
    </span> <span>
  Genre :   {% for cat in film.categories %}
                {{ cat.name }},
            {% endfor %}
    </span>

        {% if film.horairs is empty %}
            <span>Aucun horaire prévu</span>
        {% else %}
        <span>
  Horaires :   {% for horaire in film.horairs %}
                {{ horaire.hour|date('H:i') }}
            {% endfor %}
    </span>
        {% endif %}

        <a class="button" href="{{ path('new_reservation',{'id':film.id}) }}">Reserver</a>
    </div>


{% endblock %}
