{% extends 'admin/base.html.twig' %}

{% block title %}Les salles du cinéma{% endblock %}

{% block body %}
    <a href="{{ path('admin_add_room') }}">Ajouter une salle</a>
    <div class="d-flex flex-row flex-wrap">
        {% for room in rooms %}

            <div class="case">
                <a class="button m-1" href="{{ path('admin_edit_room',{'id':room.id}) }}">modifier</a>
                <a class="button m-1" href="{{ path('app_admin_room_remove',{'id':room.id}) }}">supprimer</a>
                <span>
      name :    {{ room.name }}
 </span>
                <span>
      places:      {{ room.places }}
    </span>
            </div>
        {% endfor %}
    </div>

{% endblock %}
